#include "resource.h"

#include <windows.h>

IDD_DLGTEST DIALOG DISCARDABLE 0, 0, 240, 180
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU

CAPTION "WindowTwo"
FONT 10, "MS Sans Serif"
BEGIN
    LTEXT "Comrade", IDC_TEXT1, 10, 10, 80, 10
    LTEXT "You", IDC_TEXT2, 120, 10, 80, 10
    EDITTEXT IDC_EDIT1, 10, 20, 100, 100, ES_READONLY | ES_MULTILINE | WS_VSCROLL
    EDITTEXT IDC_EDIT2, 120, 20, 100, 100, ES_MULTILINE | WS_VSCROLL
    PUSHBUTTON "Send", IDC_BTNSEND, 160, 125, 60, 15
    DEFPUSHBUTTON "Exit", IDOK, 160, 150, 60, 15
END
